.container-page-about {
  width: 100%;
}

/* Welcome */
.container-page-about .about-welcome {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}
.about-welcome .welcome-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: black;
}
.about-welcome img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: opacity(.2);
  mask-image: linear-gradient(black 60%, transparent);
  }
.about-welcome .welcome-text {
  width: 100%;
  height: 100%;
}
.welcome-text .container-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-text .left-text{
  width: 30%;
  padding: 8%;
}
.container-text .left-text svg{
  width: 85%;
}
.container-text .right-text{
  width: 30%;
  padding: 8%;
}
.welcome-text .container-text p {
  font-size: 2.4em;
  margin: 4% 0 0 0;
  font-weight: bold;
  line-height: 1.4em;
}
.welcome-text P:nth-child(2) {
  color: var(--secondary-color);
}
.about-welcome .welcome-arrow-down {
  position: absolute;
  bottom: 4%;
  right: 4%;
  height: 40%;
  width: 2.2em;
}
.welcome-arrow-down .arrow-down {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-arrow-down span:first-child:before {
  content: "";
  width: 10%;
  height: 90%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--light-color);
  box-shadow: 1px 1px 0 var(--dark-color);
  animation: welcome-arrow 2s infinite;
}
.welcome-arrow-down span:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  color: var(--light-color);
  display: block;
  animation: welcome-change-color 2s infinite;
}
.welcome-arrow-down span:nth-child(2) svg {
  font-size: 2.2em;
  filter: drop-shadow(1px 1px 0 var(--dark-color));
}
/*  */
@keyframes welcome-arrow {
  0% {
    height: 0%;
  }
  60% {
    background-color: var(--light-color);
  }
  100% {
    height: 94%;
    background-color: var(--secondary-color);
  }
}
@keyframes welcome-change-color {
  0% {
    color: var(--light-color);
  }
  60% {
    color: var(--light-color);
  }
  100% {
    color: var(--secondary-color);
  }
}
/* Media */
@media (max-width: 800px) {
  .about-welcome img {
    object-fit: cover;
  }
  .welcome-text .container-text {
    width: 70%;
    margin: auto;
  }
  .about-welcome .welcome-arrow-down {
    height: 20%;
  }
  .welcome-arrow-down span:first-child:before {
    top: -8%;
  }
}

/* Discover */
.container-page-about .discover {
  width: 100%;
  min-height: 60vh;
  background-color: var(--dark-color);
}
.discover .content-discover {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-discover .discover-image {
  width: 40%;
  height: 60vh;
  padding: 4% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover-image img {
  width: 90%;
  height: 100%;
  outline: 2px solid var(--secondary-color);
  border: 4px solid var(--dark-color);
  border-radius: 50%;
}
.content-discover .discover-text {
  width: 60%;
  padding: 4% 0;
  z-index: 2;
}
.discover-text p {
  width: fit-content;
  text-align: start;
  margin: 1% auto;
  color: var(--dark-color);
  font-weight: 600;
  padding: 1%;
  background-color: var(--light-color);
}
.discover-text .discover-dude {
  width: 100%;
  margin-top: 2%;
}
.discover-dude p,
.discover-dude a {
  width: 100%;
  text-align: center;
  padding: 1% 0;
}
.discover-dude p {
  /* 1.7 */
  font-size: 2.2em;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: transparent;
  margin: 4% 0;
}
.discover-dude a {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--secondary-color);
  padding: 2%;
  border-radius: 16px;
  color: var(--light-color);
  transition: 0.6s;
}
.discover-dude a:hover {
  background-color: var(--light-color);
  color: var(--secondary-color);
}
@media (max-width: 1000px) {
  .discover-image img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .discover .content-discover {
    flex-direction: column;
    padding: 2% 0;
  }
  .content-discover .discover-image {
    width: 100%;
    height: auto;
    padding: 4% 0;
  }
  .content-discover .discover-text {
    width: 100%;
    padding: 0 0 4%;
  }
  .discover-dude p {
    /* 2.2 */
    font-size: 1.7em;
  }
}

/* Mission */
.container-page-about .mission {
  width: 100%;
  min-height: 60vh;
  padding: 4% 0;
  background-color: var(--secondary-color);
}
.mission h3 {
  width: 90%;
  margin: 0 auto 2%;
}
.mission .our-mission {
  width: 90%;
  min-height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.our-mission .mission-content {
  width: 26%;
  min-height: 100%;
  padding: 2%;
  outline: 1px dashed var(--light-color);
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission-content i svg {
  font-size: 4em;
  transition: 0.6s;
}
.mission-content h4 {
  font-size: 1.8em;
  margin: 4% 0;
  text-transform: uppercase;
  transition: 0.6s;
}
.mission-content:hover {
  background-color: var(--light-color);
  outline-style: solid;
}
.mission-content:hover i,
.mission-content:hover h4 {
  color: var(--secondary-color);
}
.mission-content:hover p {
  color: var(--dark-color);
}
/*  */
@media (max-width: 800px) {
  .container-page-about .mission {
    min-height: 90vh;
  }
  .mission .our-mission {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .our-mission .mission-content {
    width: 40%;
    margin: 1% 0;
  }
}
@media (max-width: 500px) {
  .our-mission .mission-content {
    width: 80%;
  }
}

/* Experience */
.container-page-about .experience {
  width: 100%;
  min-height: 60vh;
  background-color: var(--dark-color);
}
.experience .content-experience {
  width: 90%;
  height: 100%;
  padding: 4%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.content-experience h3 {
  width: 100%;
  color: var(--secondary-color);
  margin-bottom: 2%;
}
.content-experience .experience-point {
  width: 100%;
  text-align: left;
  /*  */
}
.experience-point .content-experience-point {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4% 0;
  transition: 0.6s;
}
.content-experience-point .content-experience-point-text{
  width: 40%;
  padding: 0 2%;
}
.content-experience-point-text h4,
.content-experience-point-text p {
  color: var(--light-color);
  transition: 0.6s;
}
.content-experience-point-text p {
  line-height: 1.4em;
}
.content-experience-point-text h4 {
  font-size: 1.8em;
  margin-bottom: 2%;
}
.content-experience-point-text li {
  color: var(--secondary-color);
  transition: 0.6s;
}
.content-experience-point-text:hover li {
  color: var(--light-color);
}
.content-experience-point .content-experience-image{
  width: 44%;
  padding: 0 2%;
}
.content-experience-point .content-experience-image img{
  width: 100%;
  transition: .6s;
}
.content-experience-point:nth-child(2) .content-experience-point-text{
  order: 1;
}
/*  */
.content-experience-point .content-experience-point-text li,
.content-experience-point:hover .content-experience-point-text h4{
  color: var(--secondary-color)
}
.content-experience-point:hover .content-experience-point-text p{
  color: var(--tertiary-color)
}
.content-experience-point:hover .content-experience-image img{
  outline: 1px solid var(--light-color);
}
/*  */ 
@media (max-width: 800px) {
  .experience-point .content-experience-point {
    display: block;
  }
  .content-experience-point .content-experience-point-text,
  .content-experience-point .content-experience-image{
    width: 100%;
    padding: 2%;
  }
}

/* success */
.container-page-about .success {
  width: 100%;
  min-height: 40vh;
  background-color: var(--secondary-color);
}
.success .content-success {
  width: 90%;
  height: 100%;
  padding: 4%;
  margin: auto;
}
.content-success h3 {
  margin-bottom: 2%;
}
.content-success b {
  color: var(--dark-color);
  font-weight: bold;
}
.content-success p{
  line-height: 1.4em;
}