.container-contact {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-color);
}
.container-contact .contact {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--light-color);
}
.contact h3 {
  font-size: 1.5em;
}
.contact span {
  font-size: 1em;
  color: var(--secondary-color);
}
.contact .info {
  width: 45%;
  border-left: 1px solid var(--secondary-color);
  margin: 2%;
  padding: 2%;
  height: 60%;
}
.information {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin: 2%;
}
.information .content {
  width: 45%;
  margin: 2%;
  color: var(--light-color);
  text-align: left;
}
.information .content:last-child {
  width: 100%;
}
.information .content h4 {
  font-size: 1.3em;
  margin: 2% 0;
}
.information .content p {
  font-size: 1.2em;
}
.information .content .icon {
  font-size: 1.3em;
  margin: 0 2%;
  transition: 0.4s;
}
.information .content .icon:hover {
  color: var(--secondary-color);
}
.information .content a {
  color: var(--light-color);
  text-decoration: none;
}
.contact .form {
  width: 45%;
  height: 60%;
  margin: 2%;
  padding: 2%;
  border-right: 1px solid var(--secondary-color);
}
.form form {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  margin: 2% 0;
}
.form form label {
  width: 46%;
  margin: 2%;
  text-align: left;
  font-size: 1.3em;
}
.form form label:nth-last-child(2) {
  width: 100%;
}
.form form input {
  display: block;
  padding: 2%;
  margin: 2% 0;
  outline: none;
  border-radius: 6px;
  width: 100%;
}
.form form input:focus {
  border-color: var(--secondary-color);
}
.form form textarea {
  width: 100%;
  min-height: auto;
  resize: none;
  margin: 2% 0;
  padding: 2%;
  outline: none;
  border-radius: 6px;
}
.form form textarea:focus {
  border-color: var(--secondary-color);
}
.form form input[type="submit"] {
  padding: 2% 4%;
  cursor: pointer;
  font-weight: 700;
  transition: 0.8s;
  outline: none;
  margin: auto;
  border: none;
  width: 40%;
}
.form form input[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-shadow: 1px 1px 1px var(--dark-color);
}

/* Media */
@media (max-width: 800px) {
  .container-contact .contact {
    width: 100%;
  }
  .contact .form {
    padding: 4%;
  }
  .information .content {
    width: 100%;
    margin: 2% 0%;
  }
  .form form label {
    width: 100%;
    margin: 2% 0%;
  }
  .form form input[type="submit"] {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .container-contact {
    height: auto;
  }
  .container-contact .contact {
    flex-wrap: wrap;
  }
  .contact .info {
    width: 100%;
    border: none;
    padding: 0;
  }
  .information .content {
    width: 46%;
    margin: 2% 0%;
  }
  .contact .form {
    width: 100%;
    border: none;
    padding: 2%;
  }
  .contact h3 {
    padding: 6%;
  }
  .form form label {
    width: 46%;
    margin: 2%;
  }
  .form form input[type="submit"] {
    width: 60%;
  }
}
